# Assignment 3
### [정보]
#### 1) Due Date: 2021년 10월 22일 (금), 23시 59분

#### 2) 제출방법: 수업 홈페이지 하단의 "[숙제 제출 방법]" 참고

#### 3) 내용: 반드시 python code와 수행 결과를 jupyter notebook 내에 작성하여 넣고, 이에 대한 설명 등을 해당 코드 아래에 markdown cell 등에 넣어 기입하시오.

#### 4) 숙제이후 소감 작성: 10개의 문제의 답을 모두 작성한 이후에 현재까지 강의를 들은 후의 소감, 숙제를 한 이후의 소감, 또는 전하고자 하는 말 등을 짧막하게라도 좋으니 jupyter notebook 마지막 markdown cell에 함께 작성하여 제출하시오.

#### 5) 반드시 본인 스스로 문제를 해결하세요~~~

### [일반 문제]

## Problem 1

1. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.  
  - 1)<pre>L[1:3] = [100]
   print(L)</pre>
  - 2)<pre>L[1:3] = [(100)]
   print(L)</pre>
  - 3)<pre>L[1:3] = 100
   print(L)</pre>
  - 4)<pre>L[1:3] = (100)
   print(L)</pre>
  - 5)<pre>L[1:3] = (100, 101, 102)
   print(L)</pre>
  - 6)<pre>L[1:3] = [100, 101, 102]
   print(L)</pre>      
  - 7)<pre>L[1:3] = [(100, 101, 102)]
   print(L)</pre>      
  - 8)<pre>L[1:3] = [[100, 101, 102]]
   print(L)</pre>

In [48]:
# 1)
L=[1, 2, 3, 4, 5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

In [47]:
# 2)
L=[1, 2, 3, 4, 5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

In [46]:
# 3)
L=[1, 2, 3, 4, 5]
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

In [45]:
# 4)
L=[1, 2, 3, 4, 5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

In [44]:
# 5)
L=[1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

In [42]:
# 6)
L=[1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

In [41]:
# 7)
L=[1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

In [39]:
# 8)
L=[1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

In [40]:
# Extra1
L=[1, 2, 3, 4, 5]
L[1:3] = (([100, 101, 102]))
print(L)

[1, 100, 101, 102, 4, 5]

#### 설명
1. 1:3부분을 슬라이싱 후 그 부분에 [100]을 insert한다. 이때 1:3부분을 제거한 후 [100]를 list부분에서 iterator를 순회하면 첫번째부분의 100을 int형으로 insert한다.
2. [(100)]은 [100]과 같은 의미임으로 1번과 같다.
3. 100과 같은 원시 자료구조는 불가능하고 iterable한 객체만 가능하다.
4. (100)은 100과 같은 의미를 가짐으로 3번과 같다.
5. 1:3부분을 슬라이싱 후 그 부분에 100, 101, 102를 넣어준다. 이때 1:3부분을 제거한 후 (100, 101, 102)를 tupple부분에서 iterator를 순회하면 첫번째로 100을 int형으로 다음으로는 101을 다음으로는 102를 int형으로 insert한다.
6. 1:3부분을 슬라이싱 후 그 부분에 100, 101, 102를 넣어준다. 이때 1:3부분을 제거한 후 [100, 101, 102]를 list부분에서 iterator를 순회하면 첫번째로 100을 int형으로 다음으로는 101을 다음으로는 102를 int형으로 insert한다.
7. 1:3부분을 슬라이싱 후 그 부분에 (100, 101, 102) 튜플의 형태로 insert한다. 이유는 [(100,101,102)]중에서 list부분의 iterator를 순회하면 첫번째 원소로 (100,101,102)를 발견하고 이를 1:3부분에 넣어준다.
8. 1:3부분을 슬라이싱 후 그 부분에 (100, 101, 102) 튜플의 형태로 insert한다. 이유는 [[100,101,102]]중에서 list부분의 iterator를 순회하면 첫번째 원소로 [100,101,102]를 발견하고 이를 1:3부분에 넣어준다.
9. Extra 부분을 확인하면 (([100, 101, 102]))을 확인해 보았는데 [100,101,102]를 (100)의 ()가 생성자가 아닌 계산의 operator로 사용된 것처럼 인식하여 6번과 같은 결과를 보여준다. **시험에 내면 틀리기 딱 좋은 문제로 보입니다.^^7**

## Problem 2

2. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오. 
  - 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고  
  - 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [37]:
# 1)
S = 'Hello World and Python'
S_1 = ' '.join(S.split()[::-1])
print(S_1)

Python and World Hello

In [38]:
# 2)
S_2 = ''.join(S_1.split())
print(S_2)

PythonandWorldHello

#### 설명
1. split을 이용하여 ' '를 기준으로 나누어주고 [::-1]을 통하여 reverse한 후 ' '.join을 통하여 사이에 ' '를 포함아여 문자열을 연결해 주었다.
2. 다시 split을 통하여 ' '를 기준으로 나누어주고 ''.join을 통하여 사이에 아무것도 넣지 않고 이어주었다.

## Problem 3

3. 다음 코드를 보고 물음에 답하시오.
  <pre>a = [1, 2, 3]
  b = a &#42; 3
  c = [a] &#42; 3
  print(b)
  print(c)</pre>

  - 1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.
    <pre>a[0]=0</pre>
  - 2) b와 c 객체의 차이는 무엇인가?

In [34]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

#### 설명
- b는 a 내부의 iterator를 통하여 전부 확인하여 변수의 형테로 3번 삽입해준다. 반면 c에서는 [[1,2,3]]과 같은 형태로 iterator로 첫번째 값을 확인해보면 [1,2,3]임으로 [1,2,3] 자체를 넣어주고 이때 이가 바라보는 주소는 a와 같기 때문에 a를 바꿔주면 c또한 변경된다. 반면 b는 새로운 주소를 할당하였기 때문에 변경되지 않는다.

## Problem 4

4. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)
<pre>
s = '  first star   :   second star   :    third star  '
l = ['first star', 'second star', 'third star']
</pre>
  - 1) for ~ in 문을 이용한 코드를 작성하시오. 
  - 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [33]:
s = '  first star   :   second star   :    third star  '

# 1 for in
l_1 = list()
for item in s.split(':'):
    l_1.append(item.strip())

# 2 list comprehension
l_2 = [item.strip() for item in s.split(':')]

print(l_1)
print(l_2)

['first star', 'second star', 'third star']
['first star', 'second star', 'third star']

#### 설명
1. for in에 s.split(':') 된 list를 넣어준다. 내부를 iterator를 통하여 순회하며 이를 값들에 strip()를 시도하고 이 값을 l_1에 추가한다.
2. list comprehension를 통하여 1번과 같은 방법을 사용한다.

## Problem 5

5.  다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
  - 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
    - <pre>>>> addall([1])
    1</pre>
    - <pre>>>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
    45</pre>
  - 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
    - <pre>>>> addallodd([1])
    1</pre>
    - <pre>>>> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])
    25</pre>
  - [참고 1]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포 방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성되어야 한다.)
  - [참고 2]: sum() 등의 내장함수 사용 가능함

In [32]:
# list comprehension
def addall(l):
    return sum([item for item in l if item > 0])

def addallodd(l):
    return sum([item for item in l if item % 2])

print(addall([1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9]))

45
25

In [31]:
# for in 방식
def addall(l):
    result = 0
    for item in l:
        if(item > 0):
            result += item
    return result

def addallodd(l):
    result = 0
    for item in l:
        if item % 2:
            result += item
    return result

print(addall([1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9]))

45
25

#### 설명
1. 내포방식을 사용할 경우 내포에 조건 if item > 0의 조건을 추가하여 0이상인 결과만 더할 수 있게 접근하였다. for in 방식도 마찬가지로 if item > 0의 조건을 충족할 경우에만 result에 item을 더해주었다.
2. 내포방식을 사용할 경우 내포에 조건 if item % 2의 조건을 추가하여 0이상인 결과만 더할 수 있게 접근하였다. for in 방식도 마찬가지로 if item % 2의 조건을 충족할 경우에만 result에 item을 더해주었다.
3. sum을 이용하는 방법외에도 functools.reduce(lambda x,y: x + y, list_comprehension)을 이용할 수 있을 것 같다.

## Problem 6

6. 다음 코드를 보고 물음에 답하시오.
  <pre>L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)</pre>

  - 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?
  - 2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
  <pre>{'high': [4, 500, 6], 'low': [1, 2, 3]}</pre>

In [30]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(d)
print(e)
print(f)

{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

#### 설명
1. python에서는 리스트를 주소로 저장하기 때문에 사전를 변수로 저장하거나 샬로우 카피를 통하여 값을 저장하게 되면 사전를 주소로 저장하게된다. 때문에 1번의 경우에는 값의 주소를 가져왔기 때문에 e는 d의 주소 자체를 바라보고 있어 d의 값이 변화하면 당연히 e의 값도 변하게 될 것이다.
2. 2번의 경우에는 f를 deep copy를 통하여 가져왔기 때문에  내부의 값을 바꿔도 바뀌지 않지만 이는 최상위의 변수만 deep copy하기 때문에 L1과 L2는 deepcopy하지 못하고 주소로 가져와 이를 바꾸면 같이 변경된다. 이를 해결하는 방법은 import copy에 있는 deepcopy를 사용하면 된다.

## Problem 7

7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오 
  - [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
  - 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
  - 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
  - 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오. 
  - 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [29]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
d_items = list(d.items())

# 1
d_items.sort(key=lambda x:x[0])
print(d_items)
# 2
d_items.sort(key=lambda x:x[0], reverse=True)
print(d_items)
# 3
d_items.sort(key=lambda x:x[1])
print(d_items)
# 4
d_items.sort(key=lambda x:x[1], reverse=True)
print(d_items)

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

#### 설명
0. 우선 d의 item을 가져오기 위하여 items를 통하여 tupple를 저장하는 list의 형태로 item를 받아온다. 
1. 위의 리스트를 sort한다. 인자로는 key에 x[0]을 넣어주어 key를 통하여 sorting하도록 유도하였고 cmp는 기본 형태가 오름차순임으로 그냥 사용해주었다.
2. 위의 리스트를 sort한다. 인자로는 key에 x[0]을 넣어주어 key를 통하여 sorting하도록 유도하였고 cmp는 기본 형태가 오름차순임으로 유지하는 대신 reserve에 True를 주어 내림차순으로 바꾸어주었다.
3. 위의 리스트를 sort한다. 인자로는 key에 x[1]을 넣어주어 value를 통하여 sorting하도록 유도하였고 cmp는 기본 형태가 오름차순임으로 그냥 사용해주었다.
4. 위의 리스트를 sort한다. 인자로는 key에 x[1]을 넣어주어 value를 통하여 sorting하도록 유도하였고 cmp는 기본 형태가 오름차순임으로 유지하는 대신 reserve에 True를 주어 내림차순으로 바꾸어주었다.

## Problem 8

8. 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.
  - **length(X)**를 다음과 같이 정의한다 : 10진수로 표현된 X의 자릿수
  - **Strange**라는 숫자를 아래과 같이 정의한다.<br>
    - 음이 아닌 정수 중 자릿수가 1인 모든 숫자는 **Strange**이다.<br>
    - **length(X)** > 1 인 숫자 X 는 다음 2가지를 만족하면 **Strange**이다.
      - X는 **length(X)**로 정확히 나누어 떨어진다.
      - X / length(X) 가 **strnage**이다.<br>
      <br>
  - 이 문제에서 숫자 하나가 주어질 때, 이 숫자가 Strange인지 판단하는 함수 isStrange(num)을 작성하시오.<br>
  - isStrange(num) 함수가 재귀적인 함수가 되도록 작성해 보세요.

In [28]:
def isStrange(num):
    '''
    함수 포맷 변경하지 마세요.
    재귀적인 함수는 함수 안에서 자기 자신 함수를 호출하는 것을 말합니다.
    '''
    length = lambda x: len(str(x))

    if length(num) == 1: return True
    if length(num) > 1 and num % length(num) != 0: return False
    else: return isStrange(num // length(num))

print(isStrange(0))
print(isStrange(56))
print(isStrange(100))
print(isStrange(7882602506492313600))
print(isStrange(6012302549522098651))

True
True
False
True
False

- [예시]
  ```
  1. num = 0                      =>    True
  2. num = 56                     =>    True
  3. num = 100                    =>    False
  4. num = 7882602506492313600    =>    True
  5. num = 6012302549522098651    =>    False
  ```

#### 설명
1. length를 만들어주었다. int를 str으로 바꾼 후 len를 사용하여 숫자의 길이를 확인하였다.
2. 종료조건으로는 length(num) == 1이 되면 문제 설명처럼 True를 리턴 후 종료한다. length(num) > 1 and num % num % length(num) != 0라면 False를 리턴 후 종료한다.
3. length(num) > 1 and num % num % length(num) != 0가 아니라면 num을 length 나눈 값도 isStrange를 만족해야 함으로 isStrange(num // length(num))를 실행한다. 여기서 //를 사용하는 이유는 부동소수점 오차때문에 사용하였다.

---

## Problem 9

9. 다음 문제를 정확히 읽고 적합한 코딩을 제시하시오.

  - 1번 그룹, 2번 그룹, ... n번 그룹으로 번호가 매겨진 **총 n개의 그룹**이 존재하고, **i<sup>th</sup>** 그룹에는 임의의 팀원 수 **a<sub>i</sub>** 명이 있다.<br>
  하나의 버스 정류장이 있고, 버스는 오직 한 대만 운영한다. 버스는 버스 정류장에 도착하고 모든 그룹은 버스를 통해 여행하길 원한다.<br>
  하지만, 같은 그룹에 속한 팀원들은 분리되기를 원치 않는다. 그래서 그룹의 모든 팀원이 탈 수 있을 때 에만 그 그룹은 버스에 탑승한다.<br>
  또한, 이들은 그룹의 번호순으로 여행을 하길 원한다. 예를 들어, 3번 그룹은 1번 그룹과 2번 그룹이 여행을 한 뒤에 버스를 탈 수 있거나, 1번 그룹과 2번 그룹이 이미 버스에 탑승한 상태에 있을 때 동시에 버스를 탈 수 있다.<br>
  마지막으로, 버스는 빈 좌석이 없을 때 에만 여행을 떠난다.<br>
  <br>
  - 이 문제에서 각 그룹의 팀원 수가 리스트로 주어질 때, 가능한 모든 버스의 사이즈 **x**(x명의 사람들이 동시에 탈 수 있음)를 반환하는 함수 solve(a) 를 작성하시오.
  - [주의] 반드시 계산 복잡도를 최대한 낮추세요. 아래 예시 3번을 실행했을 때 결과가 바로 나타날 수 있도록!!

In [25]:
def getDivisor(n):
    divisors = []
    divisors_back = [] 

    for i in range(1, int(n**(1/2)) + 1): 
        if (n % i == 0):            
            divisors.append(i)
            if (i != (n // i)): 
                divisors_back.append(n//i)

    return divisors + divisors_back[::-1]

def checkBus(a, x):
    s = 0
    for item in a:
        if(s + item > x): return False
        elif(s + item == x): s = 0
        else: s += item
  
    return s == 0

def solve(a):
    s = sum(a)
    m = max(a)
    l = [item for item in getDivisor(s) if item >= m and checkBus(a, item)]
    return l

print(solve([1, 2, 1, 1, 1, 2, 1, 3]))
print(solve([9999] * 10**5))

[3, 4, 6, 12]
[9999, 19998, 39996, 49995, 79992, 99990, 159984, 199980, 249975, 319968, 399960, 499950, 799920, 999900, 1249875, 1599840, 1999800, 2499750, 3999600, 4999500, 6249375, 7999200, 9999000, 12498750, 19998000, 24997500, 31246875, 39996000, 49995000, 62493750, 99990000, 124987500, 199980000, 249975000, 499950000, 999900000]

- [예시]
  ```
  1. a = [1, 2, 1, 1, 1, 2, 1, 3]    =>    [3, 4, 6, 12]
  2. a = [1, 1, 1, 1]                =>    [1, 2, 4]
  3. a = [9999] * 10**5              =>    
  [9999,19998,39996,49995,79992,99990,159984,199980,249975,319968,399960,499950,799920,999900,1249875,1599840,1999800,2499750,3999600,4999500,6249375,7999200,9999000,12498750,19998000,24997500,31246875,39996000,49995000,62493750,99990000,124987500,199980000,249975000,499950000,999900000]
  ```

#### 설명
0. 위의 문제를 확인하면 결국 n번 버스를 움직인다고 하여도 전체 그룹의 합계를 s라고 하였을 때 n * x = s를 성립하여야 한다. 이를 이때 변수 모두는 양수인 정수형 변수임으로 x는 s의 약수라고 할 수 있다. 때문에 s의 약수를 구하고 이가 가능한지 확인한다면 결과를 구할 수 있다는 가설을 내렸다.
1. getDivisor는 조사를 통해 약수를 구하는 방법을 찾을 수 있었다. 방법은 우선 root(n)까지의 약수를 구하며 구해진 약수을 n으로 다시 나누어진 몫을 구하여 둘을 구할 수 있었다. [::-1]를 사용한 이유는 sorting되 값을 사용하기 위해서였다.
2. checkBus는 위에서 구한 약수가 버스의 크기가 될 수 있는지 확인하기 위하여 리스트의 값을 더해보면서 가능한지 확인하고 순서대로 더했을 경우 x보다 커진다면 False를 리턴하고 마지막에 s == 0이라면 True를 반환고 반대라면 False를 리텅하였다.
3. 위에서 만든 getDivisor와 checkBus 사용하여 list comprehension를 사용하여 결과 리스트를 생성하였다.

---

### [Incremental Project 문제]

#### 이전 Assignment 2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.
  - 요구사항 1. CSS와 Javascript 내용도 모두 제거하시오 (이전 숙제에서 이미 제외하였다면 본 요구사항 무시)
    - 즉, 아래와 같은 코드는 <style\> 및 <script\>태그 뿐만 아니라 그 안의 내용 전체를 모두 제거
      ```
    <style>
      h1 {
        color: blue;
      }
      </style>
    ```  
    
        ```
      <script>
      int a = 10;
      ...
      </script>
    ```
  - 요구사항 2. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.
    - 예: ['world!', ':', '+hello+', '~python$$$', '=', 'world'] ---> ['world', 'hello', 'python', 'world']
    - 모든 punctuation을 확인하는 방법은 아래와 같다.
    <pre>
    import string
    print(string.punctuation)
    </pre>
  - 요구사항 3. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
    - 예: ['컴퓨터공학부!', '---?', '%지향~', '...'] ---> ['컴퓨터공학부', '', '지향', ''] ---> ['컴퓨터공학부', '지향'] 
 <br/><br/>   
  - 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.
    - 예: ['world', 'hello', 'python', 'world', '컴퓨터공학부', '지향'] ---> {'world': 2, 'hello': 1, 'python': 1, '컴퓨터공학부': 1, '지향': 1}
 <br/><br/>   
  - 요구사항 4. 다음 5개의 사이트에 대한 단어 출현빈도 결과를 출력하시오.
    - http://cse.koreatech.ac.kr
    - https://www.koreatech.ac.kr
    - http://www.naver.com
    - http://www.daum.net
    - http://www.nytimes.com

#### 이전 코드

In [17]:
import requests

def sub(s, l, r):
    origin_l, tmp1 = s.split(l,1)
    tmp2, origin_r = tmp1.split(r,1)
    return origin_l + " " + origin_r
    

def getWord(source):
    
    # 주석 삭제
    while source.find("//<") != -1:
        source = sub(source, "//<", ">")

    # 요소내부에서 앵커요소 나오는 경우가 있는데 어떻게 처리해야할지 모르겠습니다.
    # 예시. <a href=\" < url > https://gallery.v.daum.net/p/premium/excavation/cSCjAyizEy</url>\" class=\"link_thumb photo_pic1\" data-tiara-action-name=\"오늘의 포토_데이터 운영_하단 썸네일\" data-tiara-layer=\"thumbnail\">
    while source.find("<url>") != -1:
        source = sub(source, "<url>","</url>")
        
    while source.find("<text>") != -1:
        source = sub(source, "<text>","</text>")
        
    # <script> 삭제
    while source.find("<script") != -1:
        source = sub(source, "<script", "</script>")
    
    # <style> 삭제
    while source.find("<style") != -1:
        source = sub(source, "<style", "</style>")

    cursor = source

    while cursor.find("<") != -1:
        cursor = sub(cursor,"<",">")
    
    cursor = cursor.replace("\t","")
    cursor = cursor.replace("\n","")
    cursor = cursor.replace("\r","")
    result = cursor.split(' ')
    
    for _ in range(result.count('')):
        result.remove('')
    
    return result;

#### 실제 코드

In [18]:
import string

def removePunctuation(s):
    result = list()
  
    for item in s:
        for token in string.punctuation:
            item = item.replace(token,"");
        result.append(item);

    for _ in range(result.count('')):
        result.remove('')
    
    return result


def getFrequency(l):
    d_result = {item : 0 for item in l}
    for item in l:
        d_result[item] += 1

    d_result = sorted(list(d_result.items()), key=lambda x: x[1], reverse=True)
  
    return d_result

# 한 번에 실행
def makeData(s):
    return getFrequency(removePunctuation(getWord(requests.get(s).text)))

In [22]:
source1 = getWord(requests.get('http://www.naver.com').text)
source2 = getWord(requests.get('https://www.koreatech.ac.kr').text)
source3 = getWord(requests.get('http://www.daum.net').text)
source4 = getWord(requests.get('http://cse.koreatech.ac.kr').text)
source5 = getWord(requests.get('http://www.nytimes.com').text)

source1 = removePunctuation(source1)
source2 = removePunctuation(source2)
source3 = removePunctuation(source3)
source4 = removePunctuation(source4)
source5 = removePunctuation(source5)

result1 = getFrequency(source1)
result2 = getFrequency(source2)
result3 = getFrequency(source3)
result4 = getFrequency(source4)
result5 = getFrequency(source5)

# print(result1)
# print(result2)
# print(result3)
# print(result4)
# print(result5)

#### 설명
- 우선 CSS와 Javascript 내용은 이전에 제거하였다.
```py
# <script> 삭제
    while source.find("<script") != -1:
        source = sub(source, "<script", "</script>")
    
    # <style> 삭제
    while source.find("<style") != -1:
        source = sub(source, "<style", "</style>")
```
- 공백 제거 또한 이전에 미리 제거하였다.
```py
cursor = cursor.replace("\t","")
cursor = cursor.replace("\n","")
cursor = cursor.replace("\r","")
```
- 구두문자는 string.punctuation를 이용하여 모든 구두문자를 확인 후 제거하였다. 추가적으로 구두문자가 사라져 생긴 빈문자열도 삭제하였다.
```py
def removePunctuation(s):
  result = list()
  
  for item in s:
    for token in string.punctuation:
      item = item.replace(token,"");
    result.append(item);

  for _ in range(result.count('')):
    result.remove('')
    
  return result
```
- 리스트를 key로하고 value를 0으로 가지는 사전을 생성한 후 l를 다시 순회하여 item의 개수를 계산하였다. 마지막으로 이를 개수로 sorting한 후 리턴해주었다.
```py
def getFrequency(l):
  d_result = dict()
  d_result = {item : 0 for item in l}
  for item in l:
    d_result[item] += 1

  d_result = sorted(list(d_result.items()), key=lambda x: x[1], reverse=True)
  
  return d_result
```

---

## 소감
1. 아직 알고리즘을 더 풀어봐야 겠다고 생각하는 과제였다.
2. 특히 floating 오류를 너무 늦게 찾아 오래걸렸다.
3. 내포를 사용하면서 굉장히 편했다. 람다도 굉장히 편했다.